#ov{
	text-align: center;
}
img{
	margin-top: 80px;
}
input{
	padding: 15px 50px;
	width: 400px;
	border-radius: 40px;
	border: 1px solid #ccc;
    background:url(https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png)no-repeat,
               url(https://upload.wikimedia.o v rg/wikipedia/commons/thumb/0/0b/Search_Icon.svg/32px-Search_Icon.svg.png)no-repeat;
    background-position: right 15px center, left 15px center;
    background-size: 30px;
    cursor: pointer;
}
input:focus{
	outline: none;
	box-shadow: 3px 2px 3px 2px;
}
.box{
	padding-top: 20px;}

button{
	/*margin: 30px 8px;*/
	background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
}
.feed{
	margin-top: 30px;
}

.class ol{
	list-style: none;

}
.lang li{
	display: inline;
	padding-right: 10px;
}
.ft1 {
	list-style: none;
	

}
#SubMoney{
	width: 100%;
    position: fixed;
    bottom: 0;
    border: 1px solid #ccc;
    padding-right: 10px;
}

.money{
	 position: fixed;
	 bottom: 0;
	 right: 0;
}

